<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading">Lunch meetup created successfully!</div>
      <div class="panel-body">Your lunch meetup has been created successfully. You should receive an email confirmation shortly. To send out the invitations, <b>you must confirm by clicking the link in the email</b>.</div>
    </div>
  </div>
</div>